In [1]:
import pandas as pd
import numpy as np
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

In [4]:
lines = pd.read_csv('fr_pairs_2k_manual.csv')
lines

,EN,FR
0,In 1835 he met and befriended Taras Shevchenko.,En juillet 1835 il rencontre et se lie avec Ta...
1,Edward kept a camel as a pet and as a young ma...,Édouard avait un chameau comme animal de compa...
2,Although it represents a limited activity toda...,Aujourd’hui réduite l’activité ferroviaire a é...
3,In 1979 Gebhard (with Alan B. Johnson) conclud...,En 1979 Gebhard (avec Alan B. Johnson) a concl...
4,In 1998 the USAF's Lockheed U-2S fleet was fit...,En 1998 la flotte américaine de Lockheed U-2 e...
...,...,...
1898,Nitta pinned under the dead horse and unable t...,Nitta coincé sous le cheval mort et incapable ...
1899,He was deployed to the Russian front.,Il est appelé sur le front russe.
1900,The telescope is remotely controllable from mu...,Le télescope est contrôlé à distance grâce à d...
1901,With armistice declared of June 18 1940 he ref...,À l'appel du 18 juin (1940) il refuse l'armist...
1902,For a long time this path constituted the only...,Ce chemin constitua longtemps la seule voie ve...

In [5]:
lines['EN'] = lines['EN'].apply(lambda x: x.lower())
lines

,EN,FR
0,in 1835 he met and befriended taras shevchenko.,En juillet 1835 il rencontre et se lie avec Ta...
1,edward kept a camel as a pet and as a young ma...,Édouard avait un chameau comme animal de compa...
2,although it represents a limited activity toda...,Aujourd’hui réduite l’activité ferroviaire a é...
3,in 1979 gebhard (with alan b. johnson) conclud...,En 1979 Gebhard (avec Alan B. Johnson) a concl...
4,in 1998 the usaf's lockheed u-2s fleet was fit...,En 1998 la flotte américaine de Lockheed U-2 e...
...,...,...
1898,nitta pinned under the dead horse and unable t...,Nitta coincé sous le cheval mort et incapable ...
1899,he was deployed to the russian front.,Il est appelé sur le front russe.
1900,the telescope is remotely controllable from mu...,Le télescope est contrôlé à distance grâce à d...
1901,with armistice declared of june 18 1940 he ref...,À l'appel du 18 juin (1940) il refuse l'armist...
1902,for a long time this path constituted the only...,Ce chemin constitua longtemps la seule voie ve...